@use 'sass:map';
@use '@angular/material' as mat;
@use './colors/palette.scss' as xtra-ui;

@use './darkTheme';
@use './mainTheme';
@use './margins';
@use './fonts';
@use './typography';
@use './common';

//mat.$theme-ignore-duplication-warnings: true;

@mixin sharedConfig() {
  @include margins.reasonable-margins();
  @include fonts.bodyfont();
  @include typography.typography();
  @include common.common();
}

$xtra-ui-blue-primary: mat.define-palette(xtra-ui.$xtra-ui-blue);
$xtra-ui-blue-accent: mat.define-palette(xtra-ui.$xtra-ui-lightBlue);
$xtra-ui-blue-warn: mat.define-palette(xtra-ui.$xtra-ui-red);

$typography-config: mat.define-legacy-typography-config(
  $font-family: '"Quicksand", Arial, Helvetica, sans-serif;',
  $display-4: mat.define-typography-level(6rem, 1.167, 300),
  $display-2: mat.define-typography-level(3rem, 1.167, 400),
  $display-1: mat.define-typography-level(2.125rem, 1.235, 400),
  $headline: mat.define-typography-level(1.5rem, 1.334, 400),
  $title: mat.define-typography-level(1.25rem, 1.6, 600),
  $subheading-2: mat.define-typography-level(1rem, 1.75, 400),
  $subheading-1: mat.define-typography-level(0.875rem, 1.57, 600),
  $body-2: mat.define-typography-level(0.875rem, 1.43, 500),
  $body-1: mat.define-typography-level(1rem, 1.5, 400),
  $caption: mat.define-typography-level(0.75rem, 1.66, 400),
  $button: mat.define-typography-level(0.875rem, 1, 600),
  $input: mat.define-typography-level(inherit, 1.125, 400),
);

@function xtra-ui-light-theme($primary, $accent, $warn) {
  $theme: (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography-config,
    density: 0,
  );

  @return map.deep-merge(
      mat.define-light-theme($theme),
      (
        color: (
          foreground: (
            text: map-get(xtra-ui.$xtra-ui-black, 500),
            disabled: rgba(map-get(xtra-ui.$xtra-ui-black, 500), 0.3),
          ),
        ),
        foreground: (
          onPrimary: map-get(xtra-ui.$xtra-ui-white, 50),
          onAccent: map-get(xtra-ui.$xtra-ui-white, 50),
          onWarn: map-get(xtra-ui.$xtra-ui-white, 50),
          text: map-get(xtra-ui.$xtra-ui-black, 500),
          secondary-text: map-get(xtra-ui.$xtra-ui-gray, 500),
          hint-text: map-get(xtra-ui.$xtra-ui-gray, 500),
          base: map-get(xtra-ui.$xtra-ui-darkBlack, 900),
          divider: rgba(map-get(xtra-ui.$xtra-ui-black, 500), 0.12),
          disabled: rgba(map-get(xtra-ui.$xtra-ui-black, 500), 0.3),
          icon: rgba(black, 0.54),
          icons: rgba(black, 0.54),
        ),
        background: (
          card: map-get(xtra-ui.$xtra-ui-white, 50),
          dialog: map-get(xtra-ui.$xtra-ui-white, 50),
          disabled-button: rgba(114, 126, 132, 0.12),
          disabled-button-toggle: map-get(xtra-ui.$xtra-ui-gray, 200),
        ),
      )
  );
}

@mixin light-theme($primary, $accent, $warn) {
  $theme: xtra-ui-light-theme($primary, $accent, $warn);
  @include sharedConfig();

  @include mainTheme.bluetheme($theme);
}

@mixin blue() {
  @include shared();
  @include light-theme($xtra-ui-blue-primary, $xtra-ui-blue-accent, $xtra-ui-blue-warn);
}

$xtra-ui-blue-dark-primary: mat.define-palette(xtra-ui.$xtra-ui-blue);
$xtra-ui-blue-dark-accent: mat.define-palette(xtra-ui.$xtra-ui-lightBlue, 200);
$xtra-ui-blue-dark-warn: mat.define-palette(xtra-ui.$xtra-ui-red, 200);

@function xtra-ui-dark-theme($primary, $accent, $warn) {
  $theme: (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography-config,
    density: 0,
  );

  @return map.deep-merge(
      mat.define-dark-theme($theme),
      (
        color: (
          foreground: (
            text: map-get(xtra-ui.$xtra-ui-black, 50),
            disabled: rgba(map-get(xtra-ui.$xtra-ui-black, 300), 0.3),
            divider: rgba(map-get(xtra-ui.$xtra-ui-black, 200), 0.36),
          ),
        ),
        foreground: (
          text: map-get(xtra-ui.$xtra-ui-black, 50),
          secondary-text: map-get(xtra-ui.$xtra-ui-black, 200),
          hint-text: map-get(xtra-ui.$xtra-ui-gray, 300),
          base: map-get(xtra-ui.$xtra-ui-white, 50),
          divider: rgba(map-get(xtra-ui.$xtra-ui-black, 200), 0.36),
          disabled: rgba(map-get(xtra-ui.$xtra-ui-black, 300), 0.36),
          icon: map-get(xtra-ui.$xtra-ui-black, 50),
          icons: map-get(xtra-ui.$xtra-ui-black, 50),
        ),
        background: (
          app-bar: map-get(xtra-ui.$xtra-ui-darkBlack, 100),
          card: map-get(xtra-ui.$xtra-ui-black, 900),
          dialog: map-get(xtra-ui.$xtra-ui-black, 900),
          disabled-button: rgba(white, 0.12),
          disabled-button-toggle: black,
        ),
      )
  );
}

@mixin dark-theme($primary, $accent, $warn) {
  $theme: xtra-ui-dark-theme($primary, $accent, $warn);
  @include sharedConfig();

  @include darkTheme.darktheme($theme);
}

@mixin blueDark() {
  @include shared();
  @include dark-theme($xtra-ui-blue-dark-primary, $xtra-ui-blue-dark-accent, $xtra-ui-blue-dark-warn);
}

@mixin shared() {}
