/* For use in src/lib/core/theming/_palette.scss */
$xtra-ui-dark: (
  50 : #e2e1e8,
  100 : #b7b5c5,
  200 : #87839f,
  300 : #565179,
  400 : #322c5c,
  500 : #0e073f,
  600 : #0c0639,
  700 : #0a0531,
  800 : #080429,
  900 : #04021b,
  A100 : #5959ff,
  A200 : #2626ff,
  A400 : #0000f2,
  A700 : #0000d9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$xtra-ui-white: (
  50 : #fefefe,
  100 : #fcfcfc,
  200 : #fafafa,
  300 : #f8f8f8,
  400 : #f7f7f7,
  500 : #f5f5f5,
  600 : #f4f4f4,
  700 : #f2f2f2,
  800 : #f0f0f0,
  900 : #eeeeee,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$xtra-ui-gray: (
  50 : #f4f4f6,
  100 : #e4e4e8,
  200 : #d2d2d9,
  300 : #c0bfc9,
  400 : #b3b2be,
  500 : #a5a4b2,
  600 : #9d9cab,
  700 : #9392a2,
  800 : #8a8999,
  900 : #79788a,
  A100 : #ffffff,
  A200 : #e0defd,
  A400 : #aea9ff,
  A700 : #9590ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$xtra-ui-purple: (
  50 : #eee7fe,
  100 : #d5c2fb,
  200 : #b99af9,
  300 : #9c71f7,
  400 : #8752f5,
  500 : #7234f3,
  600 : #6a2ff1,
  700 : #5f27ef,
  800 : #5521ed,
  900 : #4215ea,
  A100 : #ffffff,
  A200 : #ebe6ff,
  A400 : #c1b3ff,
  A700 : #ac9aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
