/* You can add global styles to this file, and also import other style files */

@use './assets/theme/theme.scss';
@import "./assets/styles/base";

a {
  cursor: pointer;
}

//*******************************
//** Material / tailwind fixes **
//*******************************
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
.mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mat-mdc-input-element {
  box-shadow: none !important;
}
