/* You can add global styles to this file, and also import other style files */

@use './theme/colors/palette.scss' as xtra-colors;
@use '@angular/material' as mat;

@use './theme/theme-bases' as theme-bases;
@use './theme/theme';
@use './theme/quicksand.scss';

@use './assets/styles/base';

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: '#7234f3';
  --sidenav-width: 300px;
  --sidenav-collapsed-width: 60px;
  --menu-width-open: 300px;
  --menu-width-closed: 60px;

  --xtra-primary-50: rgb(224, 239, 248);
  --xtra-primary-100: rgb(179, 215, 236);
  --xtra-primary-200: rgb(128, 189, 224);
  --xtra-primary-300: rgb(77, 163, 212);
  --xtra-primary-500: rgb(0, 123, 193);
  --xtra-primary-700: rgb(0, 104, 179);

  --xtra-primary-contrast-50: black;
  --xtra-primary-contrast-100: black;
  --xtra-primary-contrast-200: black;
  --xtra-primary-contrast-500: white;
  --xtra-primary-contrast-700: white;

  --xtra-accent-50: rgb(215, 253, 180);
  --xtra-accent-100: rgb(178, 247, 114);
  --xtra-accent-200: rgb(156, 250, 68);
  --xtra-accent-300: rgb(125, 245, 12);
  --xtra-accent-500: rgb(95, 194, 2);
  --xtra-accent-700: rgb(75, 150, 5);
  --xtra-accent-contrast-100: black;
  --xtra-accent-contrast-500: black;
  --xtra-accent-contrast-700: black;

  --xtra-warn-50: rgb(249, 232, 232);
  --xtra-warn-100: rgb(239, 197, 197);
  --xtra-warn-200: rgb(229, 158, 158);
  --xtra-warn-300: rgb(218, 119, 119);
  --xtra-warn-500: rgb(202, 60, 61);
  --xtra-warn-700: rgb(189, 46, 47);
  --xtra-warn-contrast-100: black;
  --xtra-warn-contrast-500: black;
  --xtra-warn-contrast-700: white;
}

a {
  cursor: pointer;
}

//*******************************
//** Material / tailwind fixes **
//*******************************
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mat-mdc-input-element {
  box-shadow: none !important;
}

$primary: (
  50: var(--xtra-primary-50),
  100: var(--xtra-primary-100),
  200: var(--xtra-primary-200),
  300: var(--xtra-primary-300),
  500: var(--xtra-primary-500),
  700: var(--xtra-primary-700),
  contrast: (
    50: var(--xtra-primary-contrast-50),
    100: var(--xtra-primary-contrast-100),
    200: var(--xtra-primary-contrast-200),
    500: var(--xtra-primary-contrast-500),
    700: var(--xtra-primary-contrast-700),
  ),
);
$accent: (
  50: var(--xtra-accent-50),
  100: var(--xtra-accent-100),
  200: var(--xtra-accent-200),
  300: var(--xtra-accent-300),
  500: var(--xtra-accent-500),
  700: var(--xtra-accent-700),
  contrast: (
    100: var(--xtra-accent-contrast-100),
    500: var(--xtra-accent-contrast-500),
    700: var(--xtra-accent-contrast-700),
  ),
);
$warn: (
  50: var(--xtra-warn-50),
  100: var(--xtra-warn-100),
  200: var(--xtra-warn-200),
  300: var(--xtra-warn-300),
  500: var(--xtra-warn-500),
  700: var(--xtra-warn-700),
  contrast: (
    100: var(--xtra-warn-contrast-100),
    500: var(--xtra-warn-contrast-500),
    700: var(--xtra-warn-contrast-700),
  ),
);

.xtra-light {
  $xtra-light-primary: theme-bases.$xtra-light-primary;
  $xtra-light-accent: theme-bases.$xtra-light-accent;
  $xtra-light-warn: theme-bases.$xtra-light-warn;

  // Use these variables to test the styling with CSS Custom properties
  // $xtra-blue-primary: mat.define-palette($primary);
  // $xtra-blue-accent: mat.define-palette($accent);
  // $xtra-blue-warn: mat.define-palette($warn);

  @include theme-bases.light-theme($xtra-light-primary, $xtra-light-accent, $xtra-light-warn);
}

.xtra-dark {
  $xtra-dark-primary: theme-bases.$xtra-dark-primary;
  $xtra-dark-accent: theme-bases.$xtra-dark-accent;
  $xtra-dark-warn: theme-bases.$xtra-dark-warn;

  @include theme-bases.dark-theme($xtra-dark-primary, $xtra-dark-accent, $xtra-dark-warn);
}

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
  margin: 0 0;
}
